<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Blog Layout Template - Bootstrap 4</title>

    <!-- <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=1"></script> -->
    <link rel='stylesheet' href='https://cdn.rawgit.com/JacobLett/bootstrap4-latest/504729ba/bootstrap-4-latest.min.css'>
    <link rel="stylesheet" href="../css/blog.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">

        <div class="page-header">
            <h1>Super Coder
                <!--       <small>Design / Bootstrap</small> -->
            </h1>
        </div>

        <div class="row">
            
           {{#blogObjs}}
            <div class="col-md-8">
                <article id="">
                    <header>
                        <div class="meta">
                            Written by <span class="author">{{author}}</span> <span class="date">{{date}}</span> | <span class="comments"><span class="badge">4</span> Comments</span>
                        </div>
                        <h2>
                            <a href={{link}}>{{title}}
                           </a></h2>
                    </header>
                    <div class="entry-content">
                        <!-- <a href="">
                            <img src="http://placehold.it/750x420" alt="" class="img-fluid" />
                        </a> -->
                        <p class="lead">{{Content}}
                        </p>

                        <!--           <a href="#" class="btn btn-primary">Read More <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> -->
                        <a href={{link}}>read more</a>
                        <br></br>
                        <div class="btn-toolbar">
                            <a class="triangle-up"></a>


                            <a href="#" class="triangle-down"> </a>
                            {{!-- <div class="text"> {{upvotes}}-{{downvotes}} </div> --}}
                            <div class="text"> {{counter}} </div>
                           
                        </div>
                        <!--              <div class="vote roundrect">
  <div class="increment up"></div>
  <div class="increment down"></div>
  
  <div class="count">4</div>
        </div> -->
                    </div>



            </div>
            {{/blogObjs}}
            
            {{!-- //######################## --}}

            <!--         <footer>
        </footer> -->
            </article>

            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="/allblog/"+{{previouspage}} aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="/allblog/"+1>1 <span class="sr-only">(current)</span></a></li>
                    <br></br>
                    <li><a href="/allblog/"+2>2</a></li>
                    <br></br>
                    <li><a href="/allblog/"+3>3</a></li>
                    <br></br>
                    <li><a href="/allblog/"+4>4</a></li>
                    <br></br>
                    <li><a href="/allblog/"+5>5</a></li>
                    <br></br>
                    <li><a href="/allblog/"+{{nextpage}} aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>


        </div>
        <aside class="col-md-4">

            <div class="card mb-3">

            </div>
        </aside>
        <!--        -->
        <div class="card mb-3">
            <h3 class="card-header mb-3">Find handle</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="name" class="form-control" id="inputEmail3" placeholder="username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="find" class="btn btn-primary">find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </aside>
    </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- <script src='https://cdn.rawgit.com/JacobLett/bootstrap4-latest/504729ba/bootstrap-4-latest.min.js'></script> -->
    <script src="../js/blog.js"></script> 
</body>

</html>