<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Super Coder</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../css/Article-Clean.css">
    <link rel="stylesheet" href="../css/Beautiful-Time-Picker.css">
    <link rel="stylesheet" href="../css/opening-times-time-picker.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="height: 200px;">
            <div class="container-fluid d-flex flex-column p-0" style="height: 700px;"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Super Coder</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link" href="/allblogs/1"><i
                                class="fas fa-table"></i><span>Blogs</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/createblog"><i class="fas fa-table"></i><span>Create
                                Blog</span></a></li>

                    
                    <li class="nav-item"><a class="nav-link" href="/testlist"><i
                                class="fas fa-table"></i><span>Programming Tests</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/ide"><i
                                class="fas fa-table"></i><span>IDE</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i
                                class="far fa-user-circle"></i><span>Logout</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="width: 500px;">
                            <h1 style="color: var(--success);font-size: 30px;margin-top: 20px;">
                                <strong>Future Tests</strong>
                            </h1>
                            {{#futureTests}}
                            <ul class="list-group">
                                <li class="list-group-item"><span>{{Title}}-{{Course_Code}}</span></li>
                            </ul>
                            {{/futureTests}}
                        </div>
                        <div class="col-md-4" style="width: 500px;">
                            <h1 style="color: var(--success);font-size: 30px;margin-top: 20px;">
                                <strong>Current Tests</strong>
                            </h1>
                            {{#currentTests}}
                            <ul class="list-group">
                                <a href="/test/{{Test_Id}}">
                                    <li class="list-group-item">
                                        <span>{{Title}}-{{Course_Code}},{{Start_Time}}--{{End_Time}}</span></li>
                                </a>
                            </ul>
                            {{/currentTests}}
                        </div>
                        <div class="col-md-4" style="width: 500px;">
                            <h1
                                style="background: var(--light);border-color: var(--warning);color: var(--success);font-size: 30px;margin-top: 20px;">
                                <strong>Past Tests</strong>
                            </h1>
                            {{#pastTests}}
                            <ul class="list-group">
                                <a href="/test/{{Test_Id}}">
                                    <li class="list-group-item"><span>{{Title}}-{{Course_Code}}</span></li>
                                </a>
                            </ul>
                            {{/pastTests}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="../js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../js/theme.js"></script>
</body>

</html>